* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

.r-p {
  padding-top: 120px;
  padding-bottom: 80px;
}

/* Nawigacja */

nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}
.navbar-brand {
  font-size: 30px;
  color: white;
  transition: 0.5s all;
}

nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
nav .navbar-nav li {
  margin-left: 15px;
}
nav.r-nav.stickyadd {
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(255, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}
nav.stickyadd .navbar-brand {
  color: black;
  font-size: 40px;
  transition: 0.5s all;
}

nav.stickyadd .navbar-nav .nav-link {
  color: #000 !important;
}

.navbar .hamburger {
  color: #fff;
}
nav.stickyadd .hamburger {
  color: #000;
}

/*Header*/
header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url(zdj/grafiki/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box {
  max-width: 700px;
  color: #fff;
}
.content-box h4 {
  font-size: 30px;
}

.content-box h1 {
  font-size: 52px;
}

.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
}

.content-box a:hover {
  color: #000;
  background: #fff;
  transition: 0.5s all;
}

.content-box p {
  color: #fff;
}

/*About*/
.about-img {
  position: absolute;
  left: -300px; /* Przesunięcie zdjęcia na początku poza lewą stronę */
  opacity: 0; /* Początkowo ustaw przejrzystość na 0 */
  transition: left 2s ease, opacity 2s ease; /* Dłuższe przejście animacji */
}

.about-img-show {
  left: 0; /* Przesunięcie zdjęcia do lewej strony */
  opacity: 1; /* Przejście do pełnej widoczności */
}

.about {
  position: relative;
}

.about-content {
  position: absolute;
  right: -300px; /* Przesunięcie sekcji na początku poza prawą stronę */
  opacity: 0; /* Początkowo ustaw przejrzystość na 0 */
  transition: right 2s ease, opacity 2s ease; /* Dłuższe przejście animacji */
}

.about-show {
  right: 0; /* Przesunięcie sekcji do prawej strony */
  opacity: 1; /* Przejście do pełnej widoczności */
}

.about {
  background-color: #f9f9f9;
}
.about li a {
  color: #000;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  line-height: 35px;
  transition: 0.5s all;
  text-align: center;
}
.about li a:hover {
  color: #ee8683;
}

/* EXP*/
.exp-id {
  position: relative;
}

.exp-id-content {
  position: absolute;
  left: -300px; /* Przesunięcie sekcji na początku poza prawą stronę */
  opacity: 0; /* Początkowo ustaw przejrzystość na 0 */
  transition: left 2s ease, opacity 2s ease; /* Dłuższe przejście animacji */
}

.exp-id-show {
  left: 0; /* Przesunięcie sekcji do prawej strony */
  opacity: 1; /* Przejście do pełnej widoczności */
}

.exp-id-img {
  position: absolute;
  right: -300px; /* Przesunięcie zdjęcia na początku poza prawą stronę */
  opacity: 0; /* Początkowo ustaw przejrzystość na 0 */
  transition: right 2s ease, opacity 2s ease; /* Dłuższe przejście animacji */
}

.exp-id-img-show {
  right: 0; /* Przesunięcie zdjęcia do prawej strony */
  opacity: 1; /* Przejście do pełnej widoczności */
}

.exp-class {
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: #f9f9f9;
}
.bg-sec {
  background-color: #f8f9fa;
}

/*Service*/

.card,
.card-header {
  background-color: #fff !important;
}

.card:hover {
  transform: translateY(-8px); /* Skok karty w górę */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card-header {
  border: none !important;
}

.services-class .card-header {
  font-size: 20px;
}

.service-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: #e65f78;
}

/*Work*/
.work {
  background-color: #f9f9f9;
}
.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*Contact*/

.contact .r-icon {
  font-size: 50px;
  text-align: center;
}
.errorMessages {
  color: red;
  margin-top: 10px;
  align-content: center;
}
.errorMessages > p {
  color: rgb(161, 56, 56);
}

footer {
  height: 200px;
  background-color: #333333;
}
footer .r-icon a {
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
}
footer .r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
}
img {
  transition: transform 0.3s ease;
  will-change: transform;
}

img:hover {
  transform: scale(1.05);
}

.r-icon:hover {
  transform: scale(1.1);
}

.btn-secondary:hover {
  transform: scale(1.1);
}

.testimonials {
  padding: 120px 0;
  background-color: #f9f9f9;
}

.testimonials h2 {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333;
}

.testimonial {
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.testimonial p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.testimonial .customer {
  font-weight: 700;
  color: #333;
  margin-top: 10px;
}

.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.testimonial:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
  transition: height 1s ease;
}

@media (min-width: 200px) and (max-width: 992px) {
  .r-nav {
    background: #fff !important;
  }
  .r-nav .container {
    width: 85%;
  }
  nav .navbar-brand {
    font-size: 30px;
    color: #000;
  }
  .navbar .hamburger {
    color: #000;
  }
  nav .navbar-nav .nav-link {
    color: #000 !important;
  }

  .content-box h1 {
    font-size: 30px;
  }
  .content-box p {
    font-size: 16px;
  }
  header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("zdj/grafiki/background.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: -700px 0;
  }
}
@media (max-width: 992px) {
  .about .row {
    display: flex;
    flex-direction: column-reverse; /* Odwróć kolejność elementów w wersji mobilnej */
  }
  .about {
    padding-bottom: 300px;
  }

  .about .col-lg-6 {
    margin-bottom: 20px; /* Odstęp między kolumnami */
  }

  .about .col-lg-6 img {
    width: 100%; /* Ustaw szerokość obrazu na pełną szerokość kolumny */
    margin-bottom: 100px; /* Dodatkowy odstęp między obrazem a tekstem */
  }
  .exp-class {
    padding-bottom: 300px;
  }
  .exp-id .row {
    display: flex;
  }

  .exp-id .col-lg-6 {
    margin-bottom: 20px; /* Odstęp między kolumnami */
  }

  .exp-id .col-lg-6 img {
    width: 100%; /* Ustaw szerokość obrazu na pełną szerokość kolumny */
    margin-bottom: 10px; /* Dodatkowy odstęp między obrazem a tekstem */
  }
}
